body{
    background: black;
}

@font-face {
    font-family: terminator;
    src: url('terminator.otf');
}

#container{
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
    margin:auto;
}

#input {
    display: none;
}

#rotated{
    width: 800px;
    height: 600px;
    -webkit-filter: sepia(1) hue-rotate(-45deg) saturate(450%) contrast(120%) brightness(70%);
}

#overlay{
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    width: 800px;
    height: 600px;
    text-shadow: 2px 2px 4px #000000;
}